*{
	margin: 0;
	padding: 0;
}



body {
	background-image: url("images/dogpark2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: Helvetica, Arial, Sans-serif;
	
}

#header{
	background-color: green;
	height: 70px;
	width: 1000px;
	margin: auto;
}
#header img{
	margin-left: 15px; 
}

#wrapper {
	background-color: white;
	width: 1000px;
	margin: auto;
	padding-top: 0px;
	padding-bottom: 5px;
	overflow: hidden;
	min-height: 550px;
	margin-top: 0px;
	display: block;
	
}

#nav{
	width: 1000px;
}

.nav_right{
	float: right;
}


ul {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:active {
    background-color: green;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#map{
	width: 320px;
	height: 220px;
}

#maplarge{
	width: 640px;
	height: 480px;
}

#parkimage img{
	padding-top: 5px;
	height: 220px;
}

#content_area{
	width: 600px;
	float: left;
	margin: 20px;
}
#reviews{
	border-top-style: solid;
	border-top-color: black;
	border-top-width: 2px;
}

#sidebar{
	width: 250px;
	float: right;
	position: relative;
	padding-right: 70px;
	padding-top: 150px;
}
#sidebar img{
	max-width: 250px;
}

#footer{
	width: 1000px;
	margin: auto;
}